Someren1920F/.vs/Someren1819/v16/.suo
Someren1920F/SomerenDAL/bin/Debug/SomerenDAL.dll
Someren1920F/SomerenDAL/bin/Debug/SomerenDAL.pdb
Someren1920F/SomerenDAL/obj/Debug/SomerenDAL.csproj.CoreCompileInputs.cache
Someren1920F/SomerenDAL/obj/Debug/SomerenDAL.csproj.FileListAbsolute.txt
Someren1920F/SomerenDAL/obj/Debug/SomerenDAL.csprojAssemblyReference.cache
Someren1920F/SomerenDAL/obj/Debug/SomerenDAL.dll
Someren1920F/SomerenDAL/obj/Debug/SomerenDAL.pdb
Someren1920F/SomerenLogic/bin/Debug/SomerenDAL.dll
Someren1920F/SomerenLogic/bin/Debug/SomerenDAL.pdb
Someren1920F/SomerenLogic/bin/Debug/SomerenLogic.dll
Someren1920F/SomerenLogic/bin/Debug/SomerenLogic.pdb
Someren1920F/SomerenLogic/obj/Debug/SomerenLogic.csproj.CoreCompileInputs.cache
Someren1920F/SomerenLogic/obj/Debug/SomerenLogic.csproj.FileListAbsolute.txt
Someren1920F/SomerenLogic/obj/Debug/SomerenLogic.csprojAssemblyReference.cache
Someren1920F/SomerenLogic/obj/Debug/SomerenLogic.dll
Someren1920F/SomerenLogic/obj/Debug/SomerenLogic.pdb
Someren1920F/SomerenModel/obj/Debug/SomerenModel.csproj.FileListAbsolute.txt
Someren1920F/SomerenModel/obj/Debug/SomerenModel.csprojAssemblyReference.cache
Someren1920F/SomerenUI/bin/Debug/SomerenDAL.dll
Someren1920F/SomerenUI/bin/Debug/SomerenDAL.pdb
Someren1920F/SomerenUI/bin/Debug/SomerenLogic.dll
Someren1920F/SomerenUI/bin/Debug/SomerenLogic.pdb
Someren1920F/SomerenUI/bin/Debug/SomerenUI.exe
Someren1920F/SomerenUI/bin/Debug/SomerenUI.pdb
Someren1920F/SomerenUI/obj/Debug/SomerenUI.csproj.CoreCompileInputs.cache
Someren1920F/SomerenUI/obj/Debug/SomerenUI.csproj.FileListAbsolute.txt
Someren1920F/SomerenUI/obj/Debug/SomerenUI.csproj.GenerateResource.Cache
Someren1920F/SomerenUI/obj/Debug/SomerenUI.csprojAssemblyReference.cache
Someren1920F/SomerenUI/obj/Debug/SomerenUI.exe
Someren1920F/SomerenUI/obj/Debug/SomerenUI.pdb